#myModal{
    // position: fixed;
    // z-index: 1; 
    padding-top: 10%;
    // overflow: hidden;
    // left: 33%;
    // top: 0;
    // width: 100%;
    // height: 100%;
    // overflow: hidden;

    .modal-content {
        background-color: #fefefe;
        // margin: 20px auto 0px auto;
        // border: 1px solid #888;
        // padding: 1% 3% 3%;
        border: none;
        border-radius: none;
        top: 0%;
    }

    .select-loc-text {
        font-size: 15px;
        color: #797F81;
        padding-top: 15px;
        padding-bottom: 11px;
    }
    .continue-btn{
        text-align: center;
        margin: auto;
        background-color: #59B828;
        color: #fff;
        font-size: 13px;
        border: none;
        padding: 7px 20px;
        letter-spacing: 0.6px;
        margin-top: 15px;
    }


    .location-drop-down-row1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #E8EAEE;
        padding-bottom: 3px;
         span img{
            padding-right: 3px;
            padding-top: 0px;
        }
        .close {
            color: #797F81;
            float: right;
            font-size: 24px;
            cursor: pointer;
          }
          .location-title{
            color: #59B828;
            font-size: 20px;
            padding-left: 5px;
          }

    }
    .css-yk16xz-control {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: hsl(0, 0%, 100%);
        border-color: #E8EAEE;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        color: #797F81;
    }
    .css-yk16xz-control:focus {
        border-color: #E8EAEE;
    }
    .css-1pahdxg-control{
         box-shadow: 0 0 0 1px #fafafa!important;
         border-color: #E8EAEE!important;
         color: #797F81!important;
    }
    .css-1n7v3ny-option {
        background-color: transparent;
    }
   
    .variant-drp .css-1hb7zxy-IndicatorsContainer {
        background-color: #fff;
    }
    .variant-drp .css-1hb7zxy-IndicatorsContainer .css-tj5bde-Svg {
        fill: #797F81;
        width: 28px;
    }
    .css-1okebmr-indicatorSeparator {
        width: 0px;
    }
    .location-error{
        border: 1px solid #cb1d1d;
            div {
                color:#cb1d1d !important;
            }
        // color:hsl(0, 92%, 39%);
    }
}
