.modal-content{
    padding: 20px;
}
.min-order-popup{
    text-align: center;
}
.min-text{
    font-size: 18px;
    color: #222533;
    padding: 10px 0px;
    font-weight: 500;
}
.min-rs{
    font-size: 24px;
    color: #28AF2D;
    font-weight: 900;
}
.close{
    text-align: end;
}