
.reg-product {
    .fw-500{
        font-weight: 500;
        color: #222533;
    }
    .product-card{
        border-radius: 8px;
        border: 1px solid #E8EAEE;
        padding: 0px 20px 15px 20px;
        color: #222533;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        background-color: white;

    .product-img img{
        max-width: 100%;
    }
    .product-img div{
        text-align: center;
    }
    h2{
        font-size: 16px;
        height: 55px;
        overflow: hidden;
        word-wrap: break-word;
        padding-top: 10px;
        line-height: 24px;
        font-family: 'Montserrat' !important
    }
    a:hover {
    text-decoration: none;
    }
    ul {
        border: 1px solid #E8EAEE;
        padding-left: 10px;
        width: 100%;
        height: 27px;
        overflow: hidden;
    }
    ul li{
        list-style: none;
        line-height: 27px;
        cursor: pointer;
    }
    .down-arrow{
        padding: 0px 11px;
        background-color: #F9F9F9;
        border-left: 1px solid #E8EAEE;
        height: 27px;
        line-height: 27px;
        float: right;
    }

    .qty-n-add {
        padding-top: 5px;
        height: 38px;
    }
    .qty{
        border: 1px solid #E8EAEE;
        border-radius: 5px;
        padding: 8px 0px;
    }
    .qty-heading{
        font-size: 12px;
        color: #797F81;
        background-color: #F9F9F9;
        padding: 9.5px 10px 8px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: 1px solid #E8EAEE;
    }
    .qty-number{
        padding: 0px 10px;
        background-color: #fff;
        color: #797F81;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        width: 50px;
        border: none;
    }
    .add-btn:hover span{
        filter: brightness(0) invert(1);   
    }
    .add-btn{
        margin-top: -5px;
        float: right;
        color: #59B828;
        border: 1px solid #59B828;
        border-radius: 5px;
        font-size: 12px;
        padding: 4px 10px;
        background-color: #fff;
    }
    .add-btn:hover{
        color: #fff;
        background-color: #59B828;
    }
    .add-btn span img{
    width: 20px;
    margin-left: 4px;
    }

    /* metric drop down */
    .drop-down-metric{
        z-index: 10;
        position: absolute;
        display: none;
        width: 87.9%;
        left: 0;
        right: 0;
        padding-left: 0px!important;
    }
    .metric-value{
        font-size: 10px;
        padding: 6px 10px;
        color: #797F81;
        background-color: #fff;  
    }
    .metric-value:hover{
        background-color: #F8F8F8;
        border-left: 5px solid #59B828;
        cursor: pointer;
    }
    /* quantity added */
   
    /* Out of stock / disabled card */
    .out-of-stock{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        width: 100%;
        height: 56%;
        opacity: 0.6;
    }
    .out-of-stock span{
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        position: absolute;
        top:40%;
        left:15%;
        width:70%;
        border: 1px solid #797F81;
        text-align: center;
        padding:5%;
        border-radius: 5px;
        background-color: #E8EAEE;
    }
    .notify{
        position: absolute;
        color: #F68501;
        left: 7%;
        top: 5%;
        font-size: 14px;
    }
    .stock-left{
        font-size: 11px;
      //  color: #F68501;
        color: red;
        position: absolute;
        margin-top: -5px;
        left: 18px;
    }
    .max-limit{
        font-size: 12px;
        color: #f60101;
        font-weight: 600;
    }
    .filter {
        &__menu {
          margin: 0.125rem auto;
        }
      
        &__option {
          color: #797F81;;
      
        //   &--is-focused {
        //     background-color: #F8F8F8;
        //     border-left: 5px solid #59B828;
        //     cursor: pointer;
        //   }
        }
      
        &__group {
          padding: 0;
        }
      }
      .css-1n7v3ny-option {
           background-color: transparent;
        // background-color: #F8F8F8!important;
        // border-left: 5px solid #59B828!important;
        // cursor: pointer;
      }
      .css-9gakcf-option:active{
        background-color: #F8F8F8!important;
        border-left: 5px solid #59B828;
        cursor: pointer;
      }
    .filter__option .filter__option--is-selected .css-9gakcf-option{
        background-color: #F8F8F8!important;
        border-left: 5px solid #59B828;
        cursor: pointer;
    }
    .filter__option .filter__option--is-focused .css-1n7v3ny-option{
        background-color: #F8F8F8!important;
        border-left: 5px solid #59B828!important;
        cursor: pointer;
    }
 
    .css-9gakcf-option{
        background-color: #F8F8F8!important;
        border-left: 5px solid #59B828;
        cursor: pointer;
    }
    .variant-drp {
        margin-bottom: 18px;
    }
    .variant-drp:focus {
        outline: none;
    }
    .variant-drp .css-1hb7zxy-IndicatorsContainer{
        background-color: #797F81;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-right: -0.5px;
        margin-top: -0.5px;
    }
    .variant-drp .css-1hb7zxy-IndicatorsContainer span{
       display: none;
    }
    .variant-drp .css-1hb7zxy-IndicatorsContainer .css-tj5bde-Svg {
        fill: #FFF;
    }
   .css-1pahdxg-control{
       border-color: hsl(0, 0%, 80%);
       box-shadow: none;
   }
}
    @media screen and (max-width: 980px){
    
    .product-card{
        border-radius: 5px;
        border: 1px solid #E8EAEE;
        padding: 0px 5px 10px 5px;
        color: #222533;
        margin-top: 10px;
        margin-bottom: 0px;
    .qty {
        margin-bottom: 5px;
        padding: 5px 0px;
    }
    .stock-left{
        left: 5px;
    }
    .variant-drp .css-1hb7zxy-IndicatorsContainer{
        padding: 0px;
        height: 30px;
    }
    .variant-drp .css-1gtu0rj-IndicatorsContainer{
        padding: 0px;
        height: 30px;
    }
    .css-tlfecz-indicatorContainer{
        padding: 4px!important;
    }
    .css-1gtu0rj-indicatorContainer{
        padding: 4px!important;
    }
    .css-yk16xz-control{
        min-height: 22px!important;
    }
    .css-1pahdxg-control{
        min-height: 22px!important;
    }
    .filter__menu {
        display: none;
    }
    .variant-drp {
        margin-bottom: 10px;
    }
    .qty-number-added {
        padding: 5px 10px;
        font-size: 11px;
        font-weight: 500;
    }
    .qty-number-added span {
        padding-left: 3px;
        font-size: 11px;
    }
    h2{
        font-size: 14px;
        padding-top: 5px;
        height: 42px;
        overflow: hidden;
        line-height: 17px;
        word-wrap: break-word;
        margin-bottom: 2px;
    }
    .qty-heading{
        // padding: 10px 6px 8px;
        padding: 6px 6px 5px 6px;
    }
    .qty-number{
        padding: 0px 5px;
        width: 40px;
    }
    .add-btn {
        padding: 3px 6px;
        margin-top: 0px;
    }
    .qty-n-add{
        height: 30px;
        margin-bottom: 5px;
        padding-top: 0px;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // width: 112%;
    }
    }

    }
    @media screen and (max-width: 390px){
        .add-cart-icon {
            display: none;
        }
        .qty{
            padding: 4.6px 0 4.5px 0px!important;
        }
       
        .qty-indicator {
            padding: 0px 5px;
            width: 21px;
        }
        .css-1uccc91-singleValue{
            font-size: 12px;
        }
        .add-btn {
          //  padding: 4px 10px!important;
            // margin-top: -3px!important;
        }
    }
}